<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="icon" href="static/bitbug_favicon.png" type="image/x-icon" />
  <link rel="shortcut icon" href="static/bitbug_favicon.png" type="image/x-icon"  />
  <meta name="description" content="Get Instant Personal Loan Online via Wifi Cash App into your Bank Account as Direct Cash Transfer. If you're searching for Online Personal Loan, Wifi Cash offers you Quick &amp; Easy Instant Cash Loan Online as Salary Advance upto Rs. 3000-5000. Download doLoan App from Google Play Store Now for Instant Loan, Online Salary Advance and Personal Loan upto Rs. 5000." data-react-helmet="true"/>
  <meta name="keywords" content="Personal Loan, Personal Loan app, Instant Personal Loan india, Instant Loan india, Credit Loan india, Online Loan, cash Loans Online, Cash Loan, Salary Advance" data-react-helmet="true"/>
  <meta name="description" itemprop="description" property="description" content="Need Urgent Cash? Sit back &amp; relax. Just a few taps on your smartphone, and get money within hours. Instant Approval. Paperless &amp; Reliable Process. Get Started">
  <meta name="description" content="Looking for instant online loans? Apply for a personal line of credit up to 3000-5000rupees @ low interest rates and get approved in just 5 mins with doLoan">
  <title>DoLoan</title>
</head>
<body>
<div id="app">
  <nav id="navBar" class="navbar navbar-expand-xl navbar-light  fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="src/components/nav/img/icon_logo.png" class="logo" width="60" height="60"/>
        <div class="des">
          <p class="proName">DoLoan</p>
          <p class="d-none  d-md-block">Take cash loan,as the easy wifi </p>
        </div>

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon"></span>-->
        <span class="iconfont icon-icon-test"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/index.html#Home">HOME
              <i class="underline"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index.html#about">ABOUT
              <i class="underline"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index.html#getMoneyStep">LOAN STEP<i class="underline"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index.html#repaymentStep">REPAYMENT STEP<i class="underline"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index.html#faq">Q&A<i class="underline"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index.html#contract">CONTRACT US<i class="underline"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">BLOG<i class="underline"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content container">
      <div class="row">
        <div class="mainChunk col-lg-8">
          <div class="article">
            <div class="title">
              <h2>{{article.titleMax}}</h2>
              <div class="auther">
                <span style="padding-right: 15px;">{{article.author}}</span>
                <span>{{article.articleDate}}</span>
              </div>
            </div>
            <div class="detail">
              <p v-bind="article.titleMax"></p>
              <img class="img-fluid articleImg"/>
              <p class="text">{{article.mainBody}}</p>
            </div>
          </div>
          <div class="commentList">
            <div class="commentList_total">
              <span>{{commentPage.totalNumber}}</span> <span>COMMENTS</span>
            </div>
            <ul id="commentList_box">
              <script type="text/html" id="commentList_box_tmpl">
                <%for ( var i = 0; i < data.length; i++ ) { %>
                <li>
                  <h4><%=data[i].realName%></h4>
                  <time><%=data[i].createTime.slice(0,-9)%></time>
                  <p class="text"><%=data[i].content%></p>
                </li>
                <% } %>
              </script>
            </ul>
          </div>
          <div class="commentPagination">

          </div>
          <div class="addComment">
            <form class="needs-validation" novalidate>
              <div class="form-group">
                <label for="commentTextarea">ADD COMMENT</label>
                <textarea required class="form-control" v-model="commentParams.content" aria-describedby="form-allowed-tags" id="commentTextarea" rows="8"></textarea>
                <div class="invalid-feedback">
                  Please provide a valid comment.
                </div>
              </div>
              <button class="btn btn-primary" type="button" v-on:click="commentHandler">POST COMMENT</button>
            </form>
          </div>
        </div>
        <div class="popularChunk col-lg-4 d-none d-lg-block d-xl-block">
          <div class="title">
            <h2>VIDEO</h2>
          </div>
          <div class="popularChunk_main">
           <!-- <ul class="popular_list" id="popularList">
              <script type="text/html" id="popular_tmpl">
                <%for ( var i = 0; i < data.length; i++ ) { %>
                <li>
                  <a class="row align-items-center" href="blogDetail.html?n=<%=data[i].id%>">
                    <div class="col-lg-5"><img src="<%=data[i].imageUrl%>" class="img-responsive" /></div>
                    <div class="col-lg-7 description"> <p><%=data[i].titleMin%></p></div>
                  </a>
                </li>
                <% } %>
              </script>
            </ul>-->
            <div class="video">
              <video width="100%"  controls>
                <source src="./static/video/video.mp4"  type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>

  </div>
  <!-- 模态框 -->
  <div class="modal fade" id="loginModal">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">LOG IN</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="login-validation" novalidate>
            <div class="form-group">
             <label for="userPhone">Phone: </label>
             <input type="tel" v-model="loginParams.phone" required class="form-control" id="userPhone" placeholder="please enter doLoan register phone">
              <div class="invalid-feedback">
                Please provide a valid phone.
              </div>
           </div>
            <div class="form-group">
              <label for="userPassword">Password: </label>
              <input type="password" v-model="loginParams.password" required class="form-control" id="userPassword" placeholder="please enter doLoan register password">
              <div class="invalid-feedback">
                Please provide a valid password.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" v-on:click="loginHandler">LOGON</button>
          <button type="button" class="btn btn-secondary" v-on:click="registerHandler">SUBMIT</button>
        </div>
      </div>
    </div>
  </div>
  <div id="toast"></div>
  <div class="loadingSpinner"></div>
</div>
</body>
</html>
