body
  padding-top 86px
  #app
  .content
    // padding 50px 0
    .title
      border-bottom: 1px solid #e5e5e5;
      border-left: 5px solid #333;
      padding: 0 10px;
      h2
        font-size 24px
        line-height: 40px;
    .mainChunk
      .article
      .detail
        font-size 16px
        line-height 24px
        p
          margin-bottom 10px
        img
          margin 0 0 20px 0
      .commentList
        margin-top 50px
        border-bottom 1px solid #eaeaea
        .commentList_total
          padding 30px 0
          border-top 1px solid #eaeaea
          font-size 18px
          font-weight bold
        li
          border-top 1px solid #eaeaea
          padding 30px 15px
          color #777777
          h4
            font-size 18px
            font-weight bold
            color #303133
            margin-bottom 15px
          time
            font-size 12px
          .text
            margin-top 15px
            font-size 16px
      .commentPagination
        margin 30px 0
      .addComment
        margin-top 25px
    .popularChunk
      .popularChunk_main
        margin-top 30px
    
  form
    label
      font-size 18px
      margin-bottom 15px;
    .form-control:focus
      box-shadow none
footer
  height 120px
  background:rgba(51,49,49,1);
  color #fff
  font-size:16px
  @media screen and (max-width: 576px) 
    height: 220px;
    text-align: center;
  .row
    padding-top: 20px
    padding-bottom: 20px
    @media screen and (max-width: 576px) 
      padding-top: 0px
      padding-bottom: 0px
    img
      @media screen and (max-width: 576px) 
        padding-bottom: 10px
  p
    font-size 16px
    line-height 24px
  a
    outline none
    padding 0 10px
    color #fff
    text-decoration none
    &:hover
      text-decoration none
      color #fef85e
