<nav id="navBar" class="navbar navbar-expand-xl navbar-light  fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./img/icon_logo.jpg" class="logo" width="150" height="60"/>
      <div class="des">
        <p class="proName">杭州威圣网络科技有限公司</p>
        <p class="d-none  d-md-block">HONGKONG Eternal Grace Technology Limited</p>
      </div>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!--<span class="navbar-toggler-icon"></span>-->
      <span class="iconfont icon-icon-test"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">首页
            <i class="underline"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog.html">公司介绍
            <i class="underline"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blogDetail.html">业务优势<i class="underline"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chargePolicy.html">案例分享<i class="underline"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
